<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Planetfiber</title>
</head>
<body>
<header class="email-header"
        style="padding-top: 10px">
  <h1 style="font-size: 32px;
    font-weight: 500;
    color: #454545;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 0;">Planetfiber</h1>
</header>
<div class="content-wrapper" style="padding-top: 30px;">
  <span class="feedback-topic"
        style="color: rgba(0, 0, 0, 0.9);
        display: block;
        margin-bottom: 5px;
        font-size: 15px;"><strong>Feedback topic: </strong>{{feedbackTopic}}</span>
  <span class="input-field user-name"
        style="color: rgba(0, 0, 0, 0.9);
        display: block;
        margin-bottom: 5px;
        font-size: 15px;"><strong>Name: </strong>{{name}}</span>
  <span class="input-field user-email"
        style="color: rgba(0, 0, 0, 0.9);
        display: block;
        margin-bottom: 5px;
        font-size: 15px;"><strong>Email: </strong>{{email}}</span>
  <p class="project-description"><strong>Message: </strong>
    {{message}}</p>
</div>
</body>
</html>
